<link rel="stylesheet" href="/stylesheets/styleslogin.css" />

<div id="signup">
  <h2>Connexion</h2>
  
  <form action="auth/login" method="POST">
 
    <label>
      <input class="mail" type="email" id="input-email" name="email" placeholder="Ton email" />
    </label>
 
    <label>
      <input class="password" type="password" name="password" id="input-password" placeholder="********" />
    </label>
 
    <button>Je me connecte ! </button>
 
    {{!-- error message will be added here --}}
  </form>
</div>