<link rel="stylesheet" href="/stylesheets/stylessignup.css" />

<div id="signup">
  <h2>Inscription</h2>
  <p>Un peu de patience avant de découvrir tes recettes personnalisées...</p>
  <form action="auth/signup" method="POST">
    <label>
      <input class="name" type="text" name="username" placeholder="Ton nom" />
    </label>
 
    <label>
      <input class="mail" type="email" id="input-email" name="mail" placeholder="Ton email" />
    </label>
 
    <label>
      <input class="password" type="password" name="password" id="input-password" placeholder="********" />
    </label>
 
    <button>Je m'inscris ! </button>

 
    {{!-- error message will be added here --}}
  </form>
</div>