<link rel="stylesheet" href="/stylesheets/styles_index.css" />

    <h1>
        Whats your mood?
    </h1>
<div>

    <form action="/signup" method="get">
        <button class="inscription">
            Je m'inscris
        </button>
    </form>

    <form action="/login" method="get">
       <button class="connexion">
            Je me connecte
        </button>
    </form>
    

</div>
    <p>
        Trouve une recette en fonction de ce que tu as dans ton frigo,
        <br>
        de ton mood ou encore de la saison actuelle
    </p>
