<link rel="stylesheet" href="/stylesheets/styles_index.css" />

    <h1>
        Dig In ! <img src="/images/icons8-chapeau-de-chef-80.png" alt="image" height="90" width="90">
    </h1>

    <h2>L'application de recettes personnalisées...</h2>

   

<div>

    <form action="/signup" method="get">
        <button class="inscription">
            Je m'inscris
        </button>
    </form>

    <form action="/login" method="get">
       <button class="connexion">
            Je me connecte
        </button>
    </form>


     <p>
        Trouve une recette en fonction de ce que tu as dans ton frigo,
        <br>
        de ton mood ou encore de la saison actuelle 
    </p>
    

</div>
   
