
    <h1>
        Whats your mood?
    </h1>

<button>
    Je m'inscris
</button>

<button>
    Je me connecte
</button>

<p>
    Trouve une recette en fonction de ce que tu as dans ton frigo,
    de ton mood ou encore de la saison actuelle
</p>