
<h1>
    Whats your mood?
</h1>


<div class="inscription">
<p><button class="inscris-toi">Je m'inscris</button></p>
<p><button class="connect-toi">Je me connecte</button></p>
</div>

<div>
    Trouve une recette en fonction de ce que tu as dans ton frigo,
    de ton mood ou encore de la saison actuelle.
</div>