<link rel="stylesheet" href="/stylesheets/styles_index.css" />

    <h1>
        Whats your mood?
    </h1>
<div>
    <button class="inscription" onclick="window.location.href = 'https://projet2-recipe.herokuapp.com/signup';">
        Je m'inscris
    </button>

    <button class="connexion">
        Je me connecte
    </button>
</div>
    <p>
        Trouve une recette en fonction de ce que tu as dans ton frigo,
        <br>
        de ton mood ou encore de la saison actuelle
    </p>
