<link rel="stylesheet" href="/stylesheets/styles_index.css" />

<<<<<<< HEAD
    <h1>
        Whats your mood?
    </h1>
<div>
    <button class="inscription">
        Je m'inscris
    </button>

    <button class="connexion">
        Je me connecte
    </button>
</div>
    <p>
        Trouve une recette en fonction de ce que tu as dans ton frigo,
        <br>
        de ton mood ou encore de la saison actuelle
    </p>
=======
<h1>
    Whats your mood?
</h1>


<div class="inscription">
<p><button class="inscris-toi">Je m'inscris</button></p>
<p><button class="connect-toi">Je me connecte</button></p>
</div>

<div>
    Trouve une recette en fonction de ce que tu as dans ton frigo,
    de ton mood ou encore de la saison actuelle.
</div>
>>>>>>> d1b748cfcac4026d14f930c0de66bff618edcc04
