<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recettes</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
  </head>
  <body>
    {{{body}}} 
  </body>
</html>