<link rel="stylesheet" href="/stylesheets/style_recipes.css"/>

<h1>Voici les meilleures propositions pour toi!</h1>


<article>

  <img src="/images/soupe1.png" alt="soupe" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser... </a>
</article>
    
  <div class="timebutton"> 

    <div class="critere">
        <p> <strong>Temps de Preparation:</strong> <time>20</time></p>
        <p> <strong>Difficulty:</strong> Easy</p>
        <p> <strong>Mood:</strong> Healthy, winter</p>

    </div>
    
      <button>Découvrir la recette...</button>

  </div> 



<article>
  <img src="/images/tajine1.png" alt="tajine" />
    
    <a>Le secret d'un tajine réussi ? La cuisson à l'étouffée, dans le plat du même nom que la recette, qui confère à la viande un moelleux incomparable. Les recettes de tajines sont faciles à préparer. Il en existe plusieurs variantes : tajine marocain, tunisien ou encre algérien sont chacun réalisés avec des mélanges d'épices et ingrédients légèrement différents. Le tajine se cuisine habituellement avec de la viande de poulet ou d'agneau, mais il peut également être décliné avec du bœuf ou du poisson... </a>
</article>
    
  <div class="timebutton"> 

    <div class="critere">
        <p> <strong>Temps de Preparation:</strong> <time>90</time></p>
        <p> <strong>Difficulty:</strong> Medium</p>
        <p> <strong>Mood:</strong> </p>

    </div>
    
      <button>Découvrir la recette...</button>

  </div> 


<article>
  <img src="/images/gateau1.png" alt="gateau" />
    <a>Le gâteau au yaourt est un dessert dont la base est un yaourt nature. Le pot du yaourt utilisé sert à doser les autres ingrédients, ce qui simplifie sa réalisation et la rend accessible aux enfants.... </a>
</article>
    
  <div class="timebutton"> 

    <div class="critere">
        <p> <strong>Temps de Preparation:</strong> <time>50</time></p>
        <p> <strong>Difficulty:</strong> Easy</p>
        <p> <strong>Mood: Comfort</p>

    </div>
    
      <button>Découvrir la recette...</button>

  </div> 
  
