<link rel="stylesheet" href="/stylesheets/styles_recipeid.css"/>

<h1>Soupe de carottes au curry</h1>


<div class="detailrecette1">

    <img class="photo" src="/images/Capture d’écran 2021-12-09 à 19.06.51.png"/>

    <div class="time_level">

        <input type="time" id="appt" name="appt"
       min="09:00" max="18:00" required>
       
       <p class="level">Facile</p>

       <img class="fav" src="/images/fav.png"/>

    </div>

    <p>Vous avez envie d’une bonne soupe mais vous en avez assez d’acheter des soupes industrielles ou de faire toujours les mêmes recettes de soupes maison ? Et si vous appreniez à préparer une soupe à la carotte qui plaira à coup sûr, ça vous dit ? Un velouté de carottes au curry original et savoureux qui risque de surprendre votre famille. C’est certain, vous allez les épater, il n’y a rien de meilleur qu’une succulente soupe maison.</p>
    
</div>

 <hr>

<div class="detailrecette2">
 
 <h2>INGRÉDIENTS : 4 PERS </h2>
 
 <br>
    <ul>
        <li>600 g de carottes</li>
        <li>6 portions de Vache qui rit ou Carré Frais</li>
        <li>2 oignons</li>
        <li>1 c.à café de curry</li>
        <li>2 cubes de bouillon de volaille</li>
        <li>2 c.à soupe d'huile d'olive</li>
        <li> 1 l d'eau</li>
    </ul>
    
</div>

<h3>Étape 1</h3>

<p>Commencez par éplucher vos légumes et coupez-les en morceaux.</p>

<h3>Étape 2</h3>
<p>Dans une poêle, faites chauffer l'huile d'olive et ajoutez les légumes. Mélangez et saupoudrez de curry. Goûtez votre soupe afin de savoir s’il est nécessaire de rajouter du curry ou non. Ajoutez l'eau et les cubes de bouillon puis laissez cuire 15 min environ.</p>

<h3>Étape 3</h3>
<p>Votre préparation est maintenant presque terminée, il ne vous reste plus qu’à utiliser votre mixeur plongeant pour obtenir la consistance désirée et à ajouter les portions de fromages et à les laisser fondre.</p>

<h3>Étape 4</h3>
<p>Vous sentez la bonne odeur de carottes et de curry ? Votre soupe de carottes au curry est maintenant prête. Bonne dégustation !</p>