<link rel="stylesheet" href="/stylesheets/style_recipes.css"/>

<h1>Voici les meilleures propositions pour toi!</h1>

{{#each myRecipes}}

<article>

  {{!-- <img src="{{this.img}}" alt="soupe" /> --}}
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser... </a>
</article>
    
  <div class="timebutton"> 

    <div class="critere">
        <p> <strong>Temps de Preparation:</strong> <time>{{duration}}</time></p>
        <p> <strong>Difficulty:</strong> {{difficulty}}</p>
        <p> <strong>Mood:</strong> 
         {{#each mood}}
          {{this}}
         {{/each}}
         </p>

    </div>
    
      <button >Découvrir la recette...</button>

  </div> 

{{/each}}

