<link rel="stylesheet" href="/stylesheets/style_recipes.css"/>

<h1>Voici les meilleures propositions pour toi!</h1>

<div>

<article>
  <img src="/images/soupe.png" alt="soupe" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. 
        <br>
        <button>Découvrir la recette...</button>

        <p> Temps de Preparation: <time>20</time></p>
        <p> Difficulty: </p>
        <p> Mood: </p>
</article>




<article>
  <img src="/images/Tajine.png" alt="tajone" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. </a>
        <br>
        <button>Découvrir la recette...</button>
      <p> Temps de Preparation: <time>20</time></p>
      <p> Difficulty: </p>
      <p> Mood: </p>
</article>

<article>
  <img src="/images/Gateau.png" alt="gateau" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. </a>
       <br>
        <button>Découvrir la recette...</button>
      <p> Temps de Preparation: <time>20</time></p>
      <p> Difficulty: </p>
      <p> Mood: </p>
</article>

</div>