<link rel="stylesheet" href="/stylesheets/style_recipes.css"/>

<h1>Voici les meilleures propositions pour toi!</h1>

<div>

<p>
  <img src="/images/soupe.png" alt="soupe" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. </a>
        <br>
        <button>Découvrir la recette...</button>
    
</p>

<p>
  <img src="/images/Tajine.png" alt="tajone" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. </a>
        <br>
        <button>Découvrir la recette...</button>
</p>

<p>
  <img src="/images/Gateau.png" alt="gateau" />
    <a>Quoi de mieux qu’une soupe pour se régaler et se réchauffer à table alors que l’hiver a pointé le bout de son nez ? Excepté le potage ou le velouté, oui, la soupe faite maison réunit tous les critères pour nous réconforter sans nous user ni nous lasser. </a>
       <br>
        <button>Découvrir la recette...</button>
</p>

</div>