<link rel="stylesheet" href="/stylesheets/styles_searchrecipe.css" />

<h2>Je choisis ce que je veux...</h2>


<p>Temps de préparation :</p>
<div>
  <input type="checkbox" id="notime" name="notime"
         checked>
  <label for="notime">Je n'ai pas beaucoup de temps</label>
</div>

<div>
  <input type="checkbox" id="littletime" name="littletime">
  <label for="littletime">J'ai un peu de temps</label>
</div>

<div>
  <input type="checkbox" id="havetime" name="havetime">
  <label for="havetime">J'ai du temps devant moi</label>
</div>