<link rel="stylesheet" href="/stylesheets/styles_searchrecipe.css" />

<h2>Je choisis ce que je veux...</h2>

<div class="formulaire" >
<form action="">

</form>
<div class="preparation">
<p>Temps de préparation :</p>
    <div>
        <input type="checkbox" id="notime" name="duration" value="1">
        <label for="notime">Je n'ai pas beaucoup de temps</label>
    </div>

    <div>
        <input type="checkbox" id="littletime" name="duration" value="2">
        <label for="littletime">J'ai un peu de temps</label>
    </div>

    <div>
        <input type="checkbox" id="havetime" name="duration" value="3">
        <label for="havetime">J'ai du temps devant moi</label>
    </div>
</div>

<div class="humeur">
<p>Dans quel mood êtes-vous ?</p>
<div>
  <input type="checkbox" id="comfort" name="mood" value="comfort">
  <label for="comfort">J'ai besoin de réconfort, bad mood...</label>
</div>

<div>
  <input type="checkbox" id="energy" name="mood" value="energy">
  <label for="energy">J'ai besoin d'énergie !!</label>
</div>

<div>
  <input type="checkbox" id="healthy" name="mood" value="healthy">
  <label for="healthy">Je veux prendre soin de mon corp</label>
</div>

</div>


<div class="saison">
<p>Je veux des recettes de saison :</p>""
<div>
  <input type="checkbox" id="summer" name="season" value="summer">
  <label for="summer">Été</label>
</div>

<div>
  <input type="checkbox" id="autumne" name="season" value="autumne">
  <label for="autumne">Automne</label>
</div>

<div>
  <input type="checkbox" id="winter" name="season" value="winter">
  <label for="winter">Hiver</label>
</div>

<div>
  <input type="checkbox" id="spring" name="season" value="spring" >
  <label for="spring">Printemps</label>
</div>

</div>


<div class="repas">
<p>Quel type de repas ?</p>
<div>
  <input type="checkbox" id="brunch" name="type" value="brunch">
  <label for="brunch">Brunch</label>
</div>

<div>
  <input type="checkbox" id="petit-dejeuner" name="type" value="petit-dejeuner">
  <label for="Petit-dejeuner">Petit-déjeuner</label>
</div>

<div>
  <input type="checkbox" id="apéro" name="type" value="apero" >
  <label for="apéro">Apéro</label>
</div>

<div>
  <input type="checkbox" id="dejeuner" name="type" value="dejeuner">
  <label for="dejeuner">Déjeuner</label>
</div>

<div>
  <input type="checkbox" id="diner" name="type" value="diner">
  <label for="diner">Dîner</label>
</div>

<div>
  <input type="checkbox" id="dessert" name="type" value="dessert">
  <label for="dessert">Dessert</label>
</div>

</div>

<div class="lever">
<p>Niveau de difficulté : </p>
<div>
  <input type="checkbox" id="easy" name="difficulty" value="easy">
  <label for="easy">Facile</label>
</div>

<div>
  <input type="checkbox" id="medium" name="difficulty" value="medium"> 
  <label for="medium">Moyen</label>
</div>

<div>
  <input type="checkbox" id="hard" name="difficulty" value="hard">
  <label for="hard">Difficile</label>
</div>

<div class="ingredient">
  <p>
    Liste des ingredients que j'ai dans mon frigo :
  </p>
  <input type="text" id="ingredient" name="ingredient">

  <input type="text" id="ingredient" name="ingredient">
  
  <input type="text" id="ingredient" name="ingredient">
  
  <input type="text" id="ingredient" name="ingredient">
  <br>
  <input type="text" id="ingredient" name="ingredient">
 
  <input type="text" id="ingredient" name="ingredient">
  
  <input type="text" id="ingredient" name="ingredient">
  
  <input type="text" id="ingredient" name="ingredient">
  <br>
  <input type="text" id="ingredient" name="ingredient">

  <input type="text" id="ingredient" name="ingredient">

</div>

</div>

<button>C'est Parti!</button>

