<div id="signup">
  <h2>Inscription</h2>
  <p>Un peu de patience avant de découvrir tes recettes personnalisées...</p>
  <form action="/signup" method="POST">
    <label>
      Comment veux-tu que l'on t'apelle ?
      <input type="text" name="Name" placeholder="Ton nom" />
    </label>
 
    <label>
      Email
      <input type="email" id="input-email" name="email" placeholder="Ton email" />
    </label>
 
    <label>
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>
 
    <button>Je m'inscris ! </button>
 
    {{!-- error message will be added here --}}
  </form>
</div>