body {
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  padding: 10px;
  color:rgb(121, 28, 28);
}

article { 
  display:flex;
  align-items:center;
  margin-top: 100px;
}

.timebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.critere {
  display: flex;
  flex-direction: row;
}

p {
  justify-content: space-between;
  padding-left: 30px;
}

a {
  margin-left: 50px;
  margin-right: 50px;
}

img {
  width: 230px;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 6px #a3a2a2);
  margin-left: 20px;
}

button {
  background-color: rgb(173, 34, 34);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  margin: 7px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  background-image: linear-gradient(
    to top left,
    rgba(255, 85, 85, 0.87),
    rgba(219, 48, 48, 0.781),
    rgb(129, 11, 11)
  );
  box-shadow: inset 2px 2px 2px #ffffffd7,
    inset -2px -2px 3px rgba(0, 0, 0, 0.637);
}

button:hover {
  background-image: linear-gradient(
    to top left,
    rgba(199, 0, 0, 0.952),
    rgba(161, 0, 0, 0.918),
    rgba(255, 0, 0, 0.767)
  );
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.89),
    inset 2px 2px 3px rgba(0, 0, 0, 0.781);
}
