h1 {
    color:rgb(121, 28, 28);
    text-align: center;
    font-weight: bold;
}

h2 {
    color:rgb(121, 28, 28);
}

h3 {
    color:rgb(121, 28, 28);
}

.photo {
    width:350px;
    border-radius: 60px;
    filter: drop-shadow(10px 10px 6px #a3a2a2);
}

.time_level {
    display: flex;
    gap:50px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.resume {
    padding-right: 140px;
    padding-left: 180px;
}

.detailrecette1 {
    text-align: center;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width:850px;
}

.fav {
    width:30px;
    height:38px;
}

.detailrecette2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    list-style: none;
}

.etapes {
    padding-right: 140px;
    padding-left: 180px;
}